<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
	
	<!-- namespace表示命名空间，值必须为接口的名称(包括包名) -->
	<mapper namespace="mapper.CollectMapper">
	
	
	
	<!-- Integer selectIsCollect(@Param("userId")Integer userId, @Param("weiboId")Integer weiboId); 收藏该条微博-->
	<insert id="collect" parameterType="bean.Collect">
		insert into t_collect (
		weibo_id, user_id
		) values( 
		#{weiboId}, #{userId}
		)
	</insert>	
	
	<!-- List<Collect> selectIsCollect(Collect collect); 查询是否已被当前用户收藏于否 -->
	<select id="selectIsCollect" resultType="java.lang.Integer">
		select 
		count(1)
		from t_collect c
		where c.weibo_id=#{weiboId} and c.user_id=#{userId}
	</select>
	
	<!-- void decollect(Collect collect); 取消收藏 -->
	<select id="decollect">
		delete 
		from t_collect
		where weibo_id=#{weiboId} and user_id=#{userId}
	</select>
	
	<!-- 查询当前用户的所有收藏 -->
	<!-- Integer[] selectAll(@Param("userId")Integer userId); -->
	<select id="selectAll" resultType="java.lang.Integer">
		select 
		c.weibo_id as weiboId, c.user_id as userId, c.collect_time as collectTime
		from t_collect c
		where c.user_id=#{userId}
		order by c.collect_time
	</select>
	
	
	
	<!-- void updateUser(User user); 更新个人资料 -->
	<update id="updateUser" parameterType="bean.Weibo">
		select 
		c.weibo_id as weiboId, c.collect_time as collectTime
		from t_collect c
		where c.user_id=#{userId}
	</update>
	
	</mapper>