<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
	
	<!-- namespace表示命名空间，值必须为接口的名称(包括包名) -->
	<mapper namespace="mapper.CommentMapper">
	
	<!-- boolean insertComment(Comment comment); 发布评论-->
	<insert id="insertComment" parameterType="bean.Comment">
		insert into t_comment (
		comment_id, user_id, weibo_id, comment_time, comment_content
		) values( 
		#{commentId}, #{userId},#{weiboId}, #{commentTime}, #{commentContent} 
		)
	</insert>	
	
	<!-- List<Comment> selectAll(Integer weiboId); 查询该微博下的所有评论 -->
	<select id="selectAll" resultType="bean.Comment" >
		select 
		comment_id as commentId, user_id as userId, weibo_id as weiboId, comment_time as commentTime, comment_content as commentContent
		from t_comment
		where weibo_id = #{weiboId}
		order by comment_time desc
	</select>
	
	<!-- void deleteById(Integer weiboId); 删除该条评论 -->
	<delete id="deleteById">
		delete from t_comment where comment_id=#{commentId}
	</delete>
	
	<!-- Integer count(Integer weiboId); 该条微博下共有多少条评论 -->
	<select id="count" parameterType="bean.Comment" resultType="java.lang.Integer" >
    select count(*) as commentNum from t_comment
    where weibo_id = #{weiboId}
    </select>
	
	
	
	</mapper>