<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
	
	<!-- namespace表示命名空间，值必须为接口的名称(包括包名) -->
	<mapper namespace="mapper.LikesMapper">
	
	
	
	<!-- void like(Likes like); 点赞该条微博-->
	<insert id="like" parameterType="bean.Likes">
		insert into t_likes (
		weibo_id, user_id
		) values( 
		#{weiboId}, #{userId}
		)
	</insert>	
	
	<!-- Integer selectIsLike(@Param("userId")Integer userId, @Param("weiboId")Integer weiboId); 查询是否已被当前用户点赞于否 -->
	<select id="selectIsLike" resultType="java.lang.Integer">
		select 
		count(1)
		from t_likes c
		where c.weibo_id=#{weiboId} and c.user_id=#{userId}
	</select>
	
	<!-- void delike(Likes like); 取消点赞 -->
	<select id="delike">
		delete 
		from t_likes
		where weibo_id=#{weiboId} and user_id=#{userId}
	</select>
	
	<!-- Integer selectCount(Integer weiboId); 当前微博点赞总数 -->
	<select id="selectCount" resultType="java.lang.Integer">
		select 
		count(1)
		from t_likes c
		where c.weibo_id=#{weiboId} 
	</select>
	
	<!-- Integer[] selectAllLikes(Integer userId); 当前用户的所有点赞微博 -->
	<select id="selectAllLikes" resultType="java.lang.Integer">
		select 
		c.weibo_id as weiboId
		from t_likes c
		where c.user_id=#{userId} 
		order by c.like_time desc
	</select>
	
	<!-- Integer selectLiked(Integer userId); 查询当前用户被点赞微博的数量 -->
	<select id="selectLiked" resultType="java.lang.Integer">
		select 
		count(1)
		from t_likes c
		where c.weibo_id in(
			select w.id 
			from t_weibo w
			where w.user_id=#{userId} 
		)
	</select>
	
	<!-- List<Likes> selectLikedBy(Integer userId); 查询当前用户的微博被哪些人点赞了->个人信息+简短微博信息 -->
	<select id="selectLikedBy" resultType="bean.Likes">
		select 
		c.user_id as userId, c.weibo_id as weiboId, c.like_time as likeTime, 
		u.username, u.face, u.id as nowUserId,
		w.content
		from t_likes c
		left join t_user u on u.id = c.user_id
		left join t_weibo w on w.id = c.weibo_id
		where c.weibo_id in(
			select w.id 
			from t_weibo w
			where w.user_id=#{userId} 
		)
		order by c.like_time desc
		
	</select>
	
	
	</mapper>