<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
	
	<!-- namespace表示命名空间，值必须为接口的名称(包括包名) -->
	<mapper namespace="mapper.WeiboMapper">
	
	
	
	<!-- boolean insert(Weibo weibo); 发布信息-->
	<insert id="insert" parameterType="bean.Weibo">
		insert into t_weibo (
		user_id,content,pic1,pic2,pic3,pic4,pic5,pic6,pic7,pic8,pic9,original,repost_id
		) values( 
		#{userId}, #{content},#{pic1}, #{pic2}, #{pic3}, #{pic4}, #{pic5}, #{pic6}, #{pic7}, #{pic8}, #{pic9}, #{original}, #{repostId} 
		)
	</insert>	
	
	<!-- List<Weibo> selectAll(); 查询所有微博 -->
	<select id="selectAll" resultType="bean.Weibo" >
		select 
		id,user_id as userId, post_time as postTime,content,pic1,pic2,pic3,pic4,pic5,pic6,pic7,pic8,pic9,original,repost_id
		from t_weibo
		order by post_time desc
	</select>
	
	<!-- List<Weibo> selectById(Integer userId); 查询单个用户的所有微博 -->
	<select id="selectById" resultType="bean.Weibo">
		select 
		id,user_id as userId, post_time as postTime,content,pic1,pic2,pic3,pic4,pic5,pic6,pic7,pic8,pic9,original,repost_id
		from t_weibo
		where user_id=#{userId}
		order by post_time desc
	</select>
	
	
	</mapper>