<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
	
	<!-- namespace表示命名空间，值必须为接口的名称(包括包名) -->
	<mapper namespace="mapper.WeiboMapper">
	
	
	
	<!-- boolean insert(Weibo weibo); 发布信息-->
	<insert id="insert" parameterType="bean.Weibo">
		insert into t_weibo (
		user_id, post_time,content,pic1,pic2,pic3,pic4,pic5,pic6,pic7,pic8,pic9,original,repost_id
		) values( 
		#{userId}, #{postTime}, #{content},#{pic1}, #{pic2}, #{pic3}, #{pic4}, #{pic5}, #{pic6}, #{pic7}, #{pic8}, #{pic9}, #{original}, #{repostId} 
		)
	</insert>	
	
	<!-- List<Weibo> selectAll(); 查询所有微博 -->
	<select id="selectAll" resultType="bean.Weibo">
		select 
		id,user_id, post_time,content,pic1,pic2,pic3,pic4,pic5,pic6,pic7,pic8,pic9,original,repost_id
		from t_weibo
	</select>
	
	<!-- User selectByEmail(String email); 根据邮箱查找用户 -->
	<select id="selectByEmail" resultType="bean.User">
		select 
		id, username, password, email, phone, face, sex,
		created_user createdUser, created_time createdTime,
		modified_user modifiedUser, modified_time modifiedTime
		from t_user
		where email=#{email}
	</select>
	
	<!-- User selectByPhone(String phone); 根据邮箱查找用户 -->
	<select id="selectByPhone" resultType="bean.User">
		select 
		id, username, password, email, phone, face, sex,
		created_user createdUser, created_time createdTime,
		modified_user modifiedUser, modified_time modifiedTime
		from t_user
		where phone=#{phone}
	</select>
	
	</mapper>